.vert{
    color: green;
}
.rouge{
    color: #C3A9FF;

}
#fondBleu{
    background-color: #0e0e3a;
}

.boiteRouge{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.boiteBleue{
    width: 95vw;
    height: 95vh;
    border: 5px blue solid;
}
.boiteTexte{
    border: black 5px solid;
    margin-top: 10px;
    padding:50px
}
.canard{
    height: 30px;
    width: 30px;
}
.donald{
    border: red 4px solid;
    background-image: url("canard.png");
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}